body {
  background-color: rgb(241, 228, 210);
  text-align: center;
  margin-top: 50px;
}
h1 {
  color: brown;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 75px;
}
a {
  color: rgb(23, 23, 161);
}
p {
  font-size: larger;
  color: rgb(68, 33, 33);
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgb(228, 203, 170);
  padding: 10px;
}
img {
  width: 400px;
  height: 300px;
}
.email-link {
  display: flex;
  justify-content: center;

  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.contact {
  font-size: 40px;
}
